.section{
    position: relative;
    margin: 20px;
    background: grey;
}
.section1{
    position: relative;
    top: 50px;
    background: grey;
    margin: 20px;
}
.section2{
    position: relative;
    top: 280px;
    background: grey;
    margin: 20px;
}
.section3{
    position: relative;
    top: 280px;
    background: grey;
    margin: 20px;
}
.section4{
    position: relative;
    top: 280px;
    background: grey;
    margin: 20px;
}
li{
    color: blue
}

li[name=ha]{
    color: orange;
}

.vert{
    color: green !important;
}

#rose{
    color: pink;
}
.geant{
    height: 500px;
    width: 500px;
    background-image: url(https://th.bing.com/th/id/OIP.ArkfCU00x3gZy5T4NOEEKAAAAA?rs=1&pid=ImgDetMain);
}
.grand{
    height: 400px;
    width: 400px;
    background-image: url(https://th.bing.com/th/id/OIP.6jRYCqC8WRsvC6EzgO3DogAAAA?rs=1&pid=ImgDetMain);
}
.moyen{
    height: 300px;
    width: 300px;
    background-image: url(https://th.bing.com/th/id/R.6983be029ca2400195de2408c4a8cab6?rik=CSQgaYxV6iGL0Q&riu=http%3a%2f%2fgartic.com.br%2fimgs%2fmural%2fni%2fnicollycaroline93%2favatar.png&ehk=bOtXWb6TSojfTA6EyL9pIIlqoU4B%2bkUCXBx4nWsQZeg%3d&risl=&pid=ImgRaw&r=0);
}
.petit{
    height: 200px;
    width: 200px;
    background-image: url(https://avatarfiles.alphacoders.com/823/thumb-82390.jpg);
}
.box1{
    height: 50px;
    width: 50px;
    border: 1rem solid orangered;
    margin: 20px;
}
.box2{
    height: 50px;
    width: 50px;
    border: 2px dashed blue;
    margin: 50px 30px 40px;
    padding: 20px;
}
.box3{
    height: 50px;
    width: 50px;
    border: thick double brown;
    margin: 50px 40px;
    padding: 5px 20px 30px;
}
.box4{
    height: 50px;
    width: 50px;
    border: 4mm ridge purple;
    padding: 10px 20px;
}
.container{
    background-color: lightgreen;
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 30px;
}
.container1{
    background-color: lightskyblue;
    padding: 30px;
    border: 1px solid black;
}
.container2{
    background-color: orangered;
    padding: 30px;
    border: 1px solid black;
}
.container3{
    background-color: lightgreen;
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 30px;
}
.container4{
    background-color: lightskyblue;
    padding: 30px;
    border: 1px solid black;
    position: relative;
    left: 100px;
}
.container5{
    background-color: orangered;
    padding: 30px;
    border: 1px solid black;
    position: relative;
    right: 300px;
}
.container6{
    background-color: lightgreen;
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 30px;
}
.container7{
    background-color: lightskyblue;
    padding: 30px;
    border: 1px solid black;
}
.container8{
    background-color: orangered;
    padding: 30px;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    right: 700px;
}
.container9{
    background-color: blue;
    width: 400px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 30px;
}
.container10{
    background-color: lightgreen;
    padding: 30px;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    right: 675px;
}
.container11{
    background-color: lightskyblue;
    padding: 30px;
    border: 1px solid black;
}
.container12{
    background-color: orangered;
    padding: 30px;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    left: 150px;
}
.boxsizing{
    width: 240px;
    height: 240px;
    border: 1px solid black;
    background-color: lightgrey;
    position: relative;
}
.box5{
    background-color: lightseagreen;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 160px;
}
.box6{
    background-color: lightseagreen;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 165px;
    right: 160px;
}
.box7{
    background-color: lightseagreen;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 165px;
}
.box8{
    background-color: lightseagreen;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 165px;
    left: 165px;
}
.box9{
    background-color: lightgreen;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 160px;
}
.box10{
    background-color: lightblue;
    border: 1px solid black;
    opacity: 0.5;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 50px;
    right: 135px;
}
.box11{
    background-color: chocolate;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 140px;
    left: 140px;
}
.box12{
    background-color: yellow;
    border: 1px solid black;
    padding: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 165px;
    left: 165px;
}
.boxsizing2{
    width: 350px;
    height: 275px;
    border: 1px solid black;
    background-color: lightgrey;
    position: relative;
}
.box13{
    background-color: lightgreen;
    border: 1px solid black;
    padding: 10%;
    width: 20px;
    height: 20px;
    float: left;
    top: 25px;
    right: 160px;
}
.box14{
    background-color: blue;
    border: 1px solid black;
    padding: 10%;
    width: 20px;
    height: 20px;
    float: left;
}
.box15{
    background-color: yellow;
    border: 1px solid black;
    padding: 10%;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 190px;
}
.box16{
    background-color: grey;
    border: 1px solid black;
    padding: 10%;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 98.5px;
}
.box17{
    background-color: chocolate;
    border: 1px solid black;
    padding: 10%;
    width: 265px;
    height: 13px;
    position: absolute;
    top: 121px;
}

